<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css/myacc.css" rel="stylesheet">
    </head>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        eshopsupport@email.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +0995-644-8287
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/home" class="nav-item nav-link active">Home</a>
                            <a href="/products" class="nav-item nav-link">Products</a>
                            <a href="/prodDetail" class="nav-item nav-link">Product Detail</a>
                            <a href="/cart" class="nav-item nav-link">Cart</a>
                            <a href="/checkout" class="nav-item nav-link">Checkout</a>
                            <a href="/myacc" class="nav-item nav-link">My Account</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                                <div class="dropdown-menu">
                                    <a href="/wishlist" class="dropdown-item">Wishlist</a>
                                    <a href="/contact" class="dropdown-item">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Add Product</a>
                                <div class="dropdown-menu">
                                    <a href="addprod" class="dropdown-item">Create</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>        
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item"><a href="products">Products</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="profile-nav" data-toggle="pill" href="#profile-tab" role="tab"><i class="fa fa-user"></i>Profile Info</a>
                            <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                            <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>Account Details</a>
                            <a class="nav-link" href="index.html"><i class="fa fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <!-- Profile Info Tab -->
                            <div class="tab-pane fade show active" id="profile-tab" role="tabpanel" aria-labelledby="profile-nav">
                                <h4>Profile Info</h4>
                                <form>
                                    <!-- Profile Information -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="firstname">First Name</label>
                                            <input id="firstname" class="form-control" type="text" placeholder="First Name" value="<%= user.firstname %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="lastname">Last Name</label>
                                            <input id="lastname" class="form-control" type="text" placeholder="Last Name" value="<%= user.lastname %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email">Email</label>
                                            <input id="email" class="form-control" type="email" placeholder="Email" value="<%= user.email %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="contact">Contact</label>
                                            <input id="contact" class="form-control" type="text" placeholder="Contact Number" value="<%= user.contact %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="gender">Gender</label>
                                            <select id="gender" class="form-control" disabled>
                                                <option value="male" <%= user.gender === 'male' ? 'selected' : '' %>>Male</option>
                                                <option value="female" <%= user.gender === 'female' ? 'selected' : '' %>>Female</option>
                                                <option value="other" <%= user.gender === 'other' ? 'selected' : '' %>>Other</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Address Information -->
                                    <h4>Address</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="country">Country</label>
                                            <input id="country" class="form-control" type="text" placeholder="Country" value="<%= user.country %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="province">Province</label>
                                            <input id="province" class="form-control" type="text" placeholder="Province" value="<%= user.province %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="city">City</label>
                                            <input id="city" class="form-control" type="text" placeholder="City" value="<%= user.city %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="barangay">Barangay</label>
                                            <input id="barangay" class="form-control" type="text" placeholder="Barangay" value="<%= user.barangay %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="sitio">Sitio</label>
                                            <input id="sitio" class="form-control" type="text" placeholder="Sitio" value="<%= user.sitio %>" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="zip_code">Zip Code</label>
                                            <input id="zip_code" class="form-control" type="text" placeholder="Zip Code" value="<%= user.zip_code %>" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn">Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Orders Tab -->
                            <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                                <h4>Orders</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>No</th>
                                                <th>Product</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Product Name</td>
                                                <td>01 Jan 2023</td>
                                                <td>Shipped</td>
                                                <td>$99</td>
                                                <td><button class="btn">View</button></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Product Name</td>
                                                <td>15 Jan 2023</td>
                                                <td>Delivered</td>
                                                <td>$149</td>
                                                <td><button class="btn">View</button></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Product Name</td>
                                                <td>10 Feb 2023</td>
                                                <td>Pending</td>
                                                <td>$120</td>
                                                <td><button class="btn">View</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Account Details Tab -->
                            <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                                <h4>Account Details</h4>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="current_password">Current Password</label>
                                            <input id="current_password" class="form-control" type="password" placeholder="Current Password">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="new_password">New Password</label>
                                            <input id="new_password" class="form-control" type="password" placeholder="New Password">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="confirm_password">Confirm Password</label>
                                            <input id="confirm_password" class="form-control" type="password" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account End -->
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
